

node_modules/**/*
.serverless/**/*
.webpack/**/*
_warmup/**/*
	
build
dist
node_modules
graphql
generated
public
components/ui/
playwright-report/
AGENTS.md
CHANGELOG.md
src/graphql
src/graphql-generated
*.md
*.mdx
*.sh
*.json